.bdy {
  background-image: linear-gradient(
      rgba(255, 255, 255, 0.3),
      rgba(255, 255, 255, 0.3)
    ),
    url("../Assests/bg_img_sign.jpg");
  position: absolute;
  height: 100%;
  width: 100%;
}

.logo_s {
  height: 40px;
  margin-top: 20px;
  margin-left: 20px;
}

.form_bdy {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid black;
  padding: 50px;
  width: 50%;
  background: rgba(0, 0, 0, 0.8);
}

.inp_s {
  height: 45px;
}

.bt_c {
  background-color: red;
  color: white;
  font-weight: bold;
  font-size: 17px;
}

@media screen and (max-width: 600px) {
  .form_bdy {
    width: 100%;
    padding: 20px;
  }
}
@media screen and (max-width: 600px) {
  .inp_s,
  .bt_c {
    width: 100%;
    margin-top: 0px;
  }
}
/* Styling for admin.jsx */

.overlay {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 70%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

.movie_st:hover .overlay {
  transform: scale(1);
}

.text {
  color: white;
  font-size: 15px;
  position: absolute;
}

.overlay1 {
  position: absolute;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.9);
  overflow: hidden;
  width: 70%;
  height: 100%;
  transform: scale(0);
  transition: 0.3s ease;
}

.movie_st1:hover .overlay1 {
  transform: scale(1);
}

.text1 {
  color: white;
  font-size: 15px;
  position: absolute;
}
