.myList{
	position: relative;
}


.tex{
	position: absolute;
    color: white;
    margin-left: -200px;
	margin-top: -210px;
}
.row{
    width: 2000px;
    margin-left: -200px;
    margin-top: 300px;
}
.buttonwatchlist{
    position: absolute;
    margin-left: -120px;
    margin-top: 85px;
    background-color: grey;
	border-radius:28px;
	border:1px solid black;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 31px;
	text-decoration:none;
}
.buttonfav{
    position: absolute;
    margin-left: 11px;
    margin-top: 85px;
    background-color: grey;
	border-radius:28px;
	border:1px solid black;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:14px 31px;
	text-decoration:none;
	text-shadow:0px 1px 0px grey;
}
